<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/template1.html :: header-css"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

<div th:insert="fragments/template1.html :: header"/>
<div th:insert="fragments/template1.html :: leftmenu"/>

<div class="content-wrapper">

    <div class="starter-template">
        <h1>Admin page (Spring Security protected)</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>
<!-- /.container -->

<div th:insert="fragments/template1.html :: footer"/>
</div>
</body>
</html>