<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:insert="fragments/template1.html :: header-css"/>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

<div th:insert="fragments/template1.html :: header"/>
<div th:insert="fragments/template1.html :: leftmenu"/>
<div class="content-wrapper">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
        <h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>
        <h2>3. Visit <a th:href="@{/about}">Normal page</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:insert="fragments/template1.html :: footer"/>
</div>
</body>
</html>